@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
.headline {
    font-family: 'Lobster', static;
    font-size: larger;
    font-weight: 800;
  }